-@scheme.comments.each do |comment|
  .comment{ "data-comment-id" => comment.id, "data-scheme-id" => @scheme.id}
    .author-info
      %a{:href => "#{user_path(comment.user)}"}
        %figure
          = image_tag comment.user.avatar.url(:thumb)
      .author-info2
        .info3
          .comment-author
            = link_to comment.user.username, user_path(comment.user)
          .comment-data
            = localize(comment.created_at, :format => :long)
          .delete-comment-link
            -if can_delete_comment?(comment)
              %span.delete-comment-btn
                =image_tag "icon_comment_delete.png"
        .comment-body
          =comment.body