.padding-25-block
  .field.email.property-name
    .target
      = f.input :title, required: true, label: false, placeholder: "Название свойства"
  .field.email.property-value
    .target
      = f.input :value, required: true, label: false, placeholder: "Значение"