.container
  .new_scheme
    = simple_form_for(@scheme, params[:scheme] => schemes_path, html: {role: 'form' }) do |f|
      = f.input  :title, class: "form-control"
      = f.input  :description, as: :text 
      = f.button :submit, method: :post
=render "home/back_link"