%div.details_list
	%h2
	=t("welcome.new_scheme")

	%div.new_scheme
		= simple_form_for(@scheme, params[:scheme] => schemes_path, :method => :post, html: {role: 'form' }) do |f|
			= f.input  :title, html: { class: "form-control" }
			= f.input  :description, as: :text 
			= f.button :submit, method: :post

%div.details_list#new
	%h2 Details list

