.banner
  .banner-text
    %h1=t("welcome.label")
    =button_to t("devise.registrations.register"), new_user_registration_path, method: :get, class: "btn-home bigger"
.container.home-page
  =render "home_page"

= render "layouts/footer"