.banner
  .banner-text
    %h1 Live programming help available 24/7
    =button_to "Register", new_user_registration_path, method: :get, class: "btn-home bigger"
.container
  -if current_user.nil?
    = render "visitor_home"
  -else
    = render "registred_home"

= render "layouts/footer"