.banner
  .banner-text
    %h1 Live programming help available 24/7
    =button_to "Register", new_user_registration_path, method: :get, class: "btn-home bigger"
.container
  %h2 Top raited schemes

  -@schemes.each do |scheme|
    = link_to "Схема: #{scheme.title}", scheme_path(scheme)
    %br