div.container.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.my_account{
    float: left;
    display: flex;
    flex-direction: column;
    flex-basis: 230px;
}
div.my-file {
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

div.account-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
}

div.account-buttons .btn {
    margin-top: 3px;
    font-family: sans-serif;
}

article.expert.home-all-post.profile {
    width: 220px;
    border-radius: 20px;
}

.scheme-element-image {
    float: left;
    margin-right:10px ;
    border: 1px solid black;

}

.scheme-element{
    border: solid 1px black;
    padding:  5px;

    vertical-align: middle;
    margin-bottom: 5px;
}

.scheme-element-count-inputs{
    display: block;
}

.scheme-element-name{
    font-size: 20px;
}

#canvas{
    margin: 0px 15px;
    background-color: transparent;
    border: solid 1px #4169E1;
}

.paint-scheme-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}
.flexRow{
    display: flex;
    align-items: center;
}

.property-block{

}
.properties-list{
    margin: 3px auto;
    padding: 0px;
    background-color:  rgb(97, 233, 250);
}
.scheme-element-properties{
    margin: 8px auto;
    padding: 0px;
    border: solid 1px black;
    background-color: whitesmoke;
}
input .list_scheme-element{
    width: auto;
}

.list_scheme-element, .property-block{
    height: 400px;
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}

h2.menu-header, p.element-name, h3.user-element-name, p.count-connections{
    margin: 5px auto;
    padding: 0px;
}


.tool-panel {
    border: solid 1px #4169E1;
    border-radius: 8px;
    padding: 5px;
    background-color: skyblue;
    margin-top: 15px;
    text-align: center;
}

.list_scheme-element,.property-block{
    border: solid 1px #4169E1;
    border-radius: 8px;
    padding: 5px;
    background-color: skyblue;
    width: 300px;
    margin-top: 20px;
}

.btn-custom {
    width: 50px;
    height: 50px;
}

.btn-custom:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.control-group.text.optional.scheme_description div.controls #scheme_description {
    width: 400px;
    min-height: 200px;
}

.description-scheme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searching-field {
    position: fixed;
    right: 0px;
    top: 70.4px;
    width: 300px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6); 
    border-bottom-left-radius: 40px;
}

input#search {
    color: black;
}

.btn.search-button {
    height: 21px;
    padding: 5px;
}

.search-block-result {
    max-width: 570px;
    border: 1px solid darkgray;
    border-radius: 10px;
    margin: 5px;
    padding: 13px;
    min-width: 570px;
}

.container.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.description {
    padding: 10px;
    border-top: 1px solid;
    margin-top: 6px;
}

.edit-link-in-show {
    margin-top: 20px;
}

.comments {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 600px;
    background: url(/../images/comments/post_line_1.png) no-repeat;
}

.comment {
    background: url("/../images/comments/post_line_1.png") no-repeat scroll -15px 100%;
    padding: 10px 20px 22px 15px;
    min-height: 40px;
    height: auto !important;
    position: relative;
}

div.comment div.author-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

div.comment .author-info div.comment-author {
    flex-direction: row;
    display: flex;
}

div.comment .author-info div.comment-author a {
    margin-right: 6px;
    font-weight: bold;
    text-decoration: none;
    color: #1A8084;
}

div.comment div.author-info .comment-data {
    font-size: 11px;
    line-height: 14px;
    font-family: Verdana,Geneva,Tahoma,Arial,Helvetica;
    color: #808080;
}

.info3 {
    display: flex;
    flex-direction: row;
}

.image-author {
    flex-basis: 50px;
}

.comment-body {
    width: 500px;
    word-wrap: break-word;
    font-size: 13px;
    color: #000;
    font-family: Arial,Helvetica,Verdana,Sans-serif;
    text-align: left; 
}

.author-info2 {
    padding-left: 5px;
}

div.need-sign-in {
    width: 600px;
    margin: 18px 0 12px 0;
    position: relative;
    font: italic 13px/17px Arial,Helvetica,sans-serif;
    text-align: center;
}

div.control-group.text.optional.comment_body {
    padding: 10px 0;
}

div.controls textarea.text.optional#comment_body {
    width: 500px;
    height: 130px;
    border-radius: 5px;
}

.delete-comment-link {
    position: absolute;
    left: 570px;
}

span.delete-comment-btn {
    cursor: pointer;
}

.link.back {
    width: 90px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 70px;
    cursor: pointer;
    text-decoration: none;
    color: #939393;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 15px;
    transition: background .3s ease-in-out;
}

.link.back:hover {
    color: whitesmoke;
    background-color: rgba(203, 203, 203, 0.7);
}

.link.back.scheme {
    width: 53px;
}

.control-group.string.optional.element_properties_title {
    float: left;
    padding-right: 10px;
}

.propperty-edit.block {
    padding-left: 10px;
    padding-bottom: 10px;
}

.container.scheme {
    width: 1240px;
}

.simple_form.new_scheme {

}

article.expert.home-all-post:hover {
    background-color: #D7D7D7;
    transition: background .4s ease-in-out;  
}

li.home-page:hover {
    background-color:rgba(224, 224, 224, 0.43)
}

.comment:hover {
    background-color:  rgba(229, 229, 229, 0.59);
    transition: background .3s ease-in-out;  
}

.padding-25-block {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-flex;
}

.control-group.string.required.element_properties_title {
    float: left;
    padding-right: 10px;
    width: 280px;
}

.new_element {
    width: 400px;
}

.property-name {
    width: 280px;
    float: left;
    padding-right: 20px;
}

.property-value {
    width: 120px;
}