// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.username {
  padding-top: 10px;
}

.notice {
  color: rgb(0, 218, 0);
  text-align: center;
}

.footer {
text-align: center;
position: relative;
bottom: 0;
width: 100%;
margin-top: 10px;
margin-bottom: 20px;
}

.main-content {
  background: #646464;
  padding-top: 70px;
}

.banner {
  background: url(../images/bg_home_top.jpg) no-repeat #021833 center center;
  height: 540px;
  width: 100%;
  margin-top: -70px;
}

.footer-hr {
  margin-bottom: 20px;
  border: 0;
}

.my-hr {
border: 0;
border-top: 1px solid #eee;
}

.avatar {
  width: 150px; 
  max-height: 150px;
  overflow: hidden;
}

.back {
  height: 100%;
}

.submit-field.delete {
  text-align: center;
}

body {
  height: 100%;
  width: 100%;
  background: #646464;
}

h1 {
  font-size: 24px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.help-inline {
  color: red;
}

header.top.logo a {
  -webkit-background-size: 250px 250px;
  background-size: 250px;
  width: 250px;
  line-height: 70px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header nav.nav-menu ul.menu>.menu-item>a {
	height: 70px;
	line-height: 70px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

nav.nav-menu .menu-item>span, nav.nav-menu .menu-item>a {
  display: block;
  color: white;
  font-family: 'proximanova_light',Arial,sans-serif;
  zoom: 1;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
  padding: 0px 25px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  cursor: pointer;
  white-space: nowrap;
}

header nav.nav-menu ul.menu>.menu-item>a {
  height: 70px;
  line-height: 70px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav.nav-menu .menu, nav.nav-menu .sub-menu {
  list-style: none;
  position: relative;
}

nav.nav-menu .menu-item {
  display: inline-block;
  list-style: none;
  position: relative;
}

body {
  min-width: 1030px;
}

body header {
  background: rgba(255, 184, 0, 1);
  -webkit-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 3px,rgba(0,0,0,0.15) 0 -1px 0 inset;
  box-shadow: rgba(0,0,0,0.2) 0 1px 3px,rgba(0,0,0,0.15) 0 -1px 0 inset;
}

body header.top {
  position: fixed;
  width: 100%;
  z-index: 40;
}


body header nav.nav-menu {
  background: none;
}

header.top nav.nav-menu {
  float: right;
}

nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body .wrapper {
  display: block;
  color: black;
  font-family: 'proximanova_light',Arial,sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  height: 60px;
  padding: 0px 25px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.logo a {
  display: block;
  background: url(../images/logo.png) no-repeat center center;
  background: none,url(../images/logo2.png) no-repeat center center;
  -webkit-background-size: 220px 220px;
  background-size: 250px;
  width: 250px;
  line-height: 70px;
  padding: 0px;
  text-indent: -9000em;
  font-size: 1px;
  outline: none;
  transition: all .2s ease-in-out;
}

.banner-text {
  margin-bottom: 20px;
  display: block;
  text-align: center;
  padding-top: 150px;
}

.banner h1 {
  font-family: 'proximanova_regular',Arial,sans-serif;
  font-size: 36px;
  font-weight: lighter;
  color: white;
  margin-bottom: 20px;
}

.btn-home {
  font-family: 'proximanova_bold';
  zoom: 1;
  font-weight: normal;
  font-size: 12px;
  color: white;
  padding: 10px 20px 7px;
  background: #22c3af;
  border: none;
  line-height: 1em;
  border-radius: 3px;
  border-bottom: 3px solid #1a9888;
  cursor: pointer;
  margin: 0px;
  text-decoration: none;
  display: inline-block;
}

.btn-home.bigger {
  font-family: 'proximanova_light';
  zoom: 1;
  font-weight: normal;
  font-size: 24px;
  padding: 15px 80px 12px;
  border-bottom-width: 3px;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.auth-block {
  width: 400px;
  margin: auto;
}

.stylized {
  padding-top: 30px;
  color: black;
}

.text .optional {
  min-height: 400px;
  min-width: 200px;
}

form.rating_ballot input.rating_submit { display: none; }
form.rating_ballot input.rating_button { display: none; }

form.rating_ballot label.rating { cursor: pointer; display: block; height: 20px; width: 20px; float: left; }
form.rating_ballot label.rating span { display: none; }
form.rating_ballot label.rating { background-image: url(../images/rating/star-dim.png); }
form.rating_ballot label.rating.bright { background-image: url(../images/rating/star-bright.png); }
form.rating_ballot label.rating.glow { background-image: url(../images/rating/star-glow.png); }

ul.home-page {
  list-style: none;
  display: inline-flex;
  width: 1100px;
}

li.home-page{
  display: inherit;
}

article.expert.home-all-post {
  border:double;
  border-color: darkgray;
  border-radius: 100px;
}

img.attachment-user-thumbnail-normal.wp-post-image.home-page-down {
  height: 130px;
  width: auto;
  border-radius: 30px;
}


h1.home-page {
  font-size: 26px;
  padding-bottom: 20px;
  color: grey;
  text-decoration: underline;
}
div.container.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn.delete {
  background: red;
  margin-bottom: 60px;
}

.btn.delete:hover {
  background: rgb(182, 10, 10);
}

.btn.edit {
  background: rgb(219, 162, 13);
}

.btn.edit:hover {
  background: #C58F03;
}

.btn.add {
  background: #22C386;
}

.btn.add:hover {
  background: #24B287;
}

img.profile-avatar {
    width: 150px;
}