// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.username {
  padding-top: 10px;
}

.notice {
  color: rgb(0, 218, 0);
  text-align: center;
}

.footer {
text-align: center;
position: relative;
bottom: 0;
width: 100%;
margin-top: 10px;
margin-bottom: 20px;
}

.main-content{
  background: #f1f2f4;
  padding-top: 70px;
}

.banner {
  background: url(../images/bg_home_top.jpg) no-repeat #021833 center center;
  height: 540px;
  width: 100%;
  margin-top: -70px;
}

.footer-hr {
  margin-bottom: 20px;
  border: 0;
}

.my-hr {
border: 0;
border-top: 1px solid #eee;
}

.avatar {
  width: 150px; 
  max-height: 150px;
}

body {
  height: 100%;
  width: 100%;
  background: #f1f2f4;
}

h1 {
  font-size: 24px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.help-inline {
  color: red;
}

header.top.logo a {
  -webkit-background-size: 250px 250px;
  background-size: 250px;
  width: 250px;
  line-height: 70px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header nav.nav-menu ul.menu>.menu-item>a {
	height: 70px;
	line-height: 70px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

nav.nav-menu .menu-item>span, nav.nav-menu .menu-item>a {
  display: block;
  color: white;
  font-family: 'proximanova_light',Arial,sans-serif;
  zoom: 1;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
  padding: 0px 25px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  cursor: pointer;
  white-space: nowrap;
}

header nav.nav-menu ul.menu>.menu-item>a {
  height: 70px;
  line-height: 70px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav.nav-menu .menu, nav.nav-menu .sub-menu {
  list-style: none;
  position: relative;
}

nav.nav-menu .menu-item {
  display: inline-block;
  list-style: none;
  position: relative;
}

body {
  min-width: 1030px;
}

body header {
  background: rgba(0,0,0,0.6);
  -webkit-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 3px,rgba(0,0,0,0.15) 0 -1px 0 inset;
  box-shadow: rgba(0,0,0,0.2) 0 1px 3px,rgba(0,0,0,0.15) 0 -1px 0 inset;
}

body header.top {
  position: fixed;
  width: 100%;
  z-index: 40;
}


body header nav.nav-menu {
  background: none;
}

header.top nav.nav-menu {
  float: right;
}

nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body .wrapper {
  display: block;
  color: white;
  font-family: 'proximanova_light',Arial,sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  height: 60px;
  padding: 0px 25px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.logo a {
  display: block;
  background: url(../images/logo.png) no-repeat center center;
  background: none,url(../images/logo2.png) no-repeat center center;
  -webkit-background-size: 220px 220px;
  background-size: 250px;
  width: 250px;
  line-height: 70px;
  padding: 0px;
  text-indent: -9000em;
  font-size: 1px;
  outline: none;
  transition: all .2s ease-in-out;
}

.banner-text {
  margin-bottom: 20px;
  display: block;
  text-align: center;
  padding-top: 150px;
}

.banner h1 {
  font-family: 'proximanova_regular',Arial,sans-serif;
  font-size: 36px;
  font-weight: lighter;
  color: white;
  margin-bottom: 20px;
}

.btn-home {
  font-family: 'proximanova_bold';
  zoom: 1;
  font-weight: normal;
  font-size: 12px;
  color: white;
  padding: 10px 20px 7px;
  background: #22c3af;
  border: none;
  line-height: 1em;
  border-radius: 3px;
  border-bottom: 3px solid #1a9888;
  cursor: pointer;
  margin: 0px;
  text-decoration: none;
  display: inline-block;
}

.btn-home.bigger {
  font-family: 'proximanova_light';
  zoom: 1;
  font-weight: normal;
  font-size: 24px;
  padding: 15px 80px 12px;
  border-bottom-width: 3px;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.auth-block {
  width: 400px;
  margin: auto;
}

.stylized {
  padding-top: 30px;
}