.my_account{
	float: left;
	margin-left: 15px;
}
.my_scheme{
	float:left;
	margin-left: 30px;
}

.users{
	float: left;
	margin-left: 30px;
}

.new_scheme{
	margin-left: 15px;
}

.details_list{
	float:left;
}
.details_list#new {
	float: right;
	margin-right: 50px;
}